.header {
    background-color: white;
    color: #333333;
    display: flex; 
    justify-content: center; /* Vertically align items */
    align-items: center;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo img {
    width: 250px;
    height: auto;
    border-radius: 5%;
  }
  
  .header-info {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text */
    margin-top: 10px;
  }
  
  .site-name {
    font-size: 3.5rem;
    font-weight: lighter;
    color: #260099; /* Dark Purple */
    margin-bottom: 5px;
  }
  
  .company-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #4663b9; /* Light Purple */
  }
  
